<div class = "container">
  <p></p>
  <div class="row">
    <div class ="col-md-8 col-md-offset-2">
      <div class = "panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href = "/users/<%= @photo.user_id %>"><%= @photo.user.username.capitalize%> </a><small><%= time_ago_in_words(@photo.created_at)%> ago</small>
          </h3>
        </div>
        <div class = "panel-body">
          <a href = "/photos/<%= @photo.id %>"><img src = "<%= @photo.image %>" class = "img-responsive"></a>
          <p>
            <% usernames = [] %>
            <% @photo.likes.each do |like| %>
            <% usernames.push(like.user.username) %>
            <% end %>
            <% if  usernames.count == 1%>
            <%= usernames.to_sentence %> likes this
            <% elsif usernames.count == 0 %>
            <% else  %>
            <%= usernames.to_sentence %> like this
            <% end %>
          </p>
          <ul class="media-list">
            <% @photo.comments.each do |comment| %>
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading"><a href="/users/<%= comment.user_id %>"><%= comment.user.username%> </a><small><%= time_ago_in_words(comment.created_at)%> ago</small>

                </h6>
                <%= comment.body %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class ="col-md-8 col-md-offset-2">
    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <% if current_user.id == @photo.user_id %>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>
  </div>
</div>
</div>
